:root {
    --ff-sans: 'Inter', sans-serif;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-bold: 700;

    --fs-400: 0.9275rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;
    --fs-900: 2.5rem;

    --clr-dark: rgba(52, 58, 64, 1);
    --clr-light-gray: rgba(108, 117, 125, 1);
    --clr-light: rgba(233, 236, 239, 1);
    --clr-green: rgba(87, 204, 153, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-normal);
    line-height: 1.7;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
main {
    max-width: 90vw;
    margin: auto;
}

h1,
h2,
h3 {
    line-height: 1.4;
}

h1 {
    font-size: var(--fs-900);
    align-self: end;
    min-width: max-content;
    margin-bottom: 0px;
}

h2 {
    font-size: var(--fs-500);
}

h3 {
    font-size: var(--fs-500);
}

p {
    font-size: var(--fs-500);
}

/* global utilities */
.w-100 {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

/* flexbox utilities */
.d-flex {
    display: flex;
}
.d-none{
    display: none;
}
.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

/* grid utilities */
.d-grid {
    display: grid;
}

.justify-center {
    justify-items: center;
}

.align-center {
    align-items: center;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

/* navigation */
nav {
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(108, 117, 125, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    padding-top: 1rem;
}

nav li {
    min-height: 2.5rem;
}

nav a {
    height: 100%;
    text-decoration: none;
    color: var(--clr-dark);
    padding: 0 3rem;
}

nav a:hover {
    color: var(--clr-light-gray);
    cursor: pointer;
}

nav a:first-child {
    padding-left: 0;
}

nav li:first-child {
    margin-right: auto;
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
}

#navbar {
    top: -75px;
    position: fixed;
    width: 100%;
    transition: top 0.2s;
}

#mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 0;
    padding-top: 2rem;
    width: 250px;
    height: 100vh;
    z-index: 10;
    background-color: #fff;
    box-shadow: -10px 0 10px rgba(108, 117, 125, 0.1);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#mobile-nav li {
    padding-bottom: 1.5rem;
    width: 100%;
}

#mobile-nav a {
    padding: 0;
    width: 100%;
}

#sidebar-btn {
    display: none;
}
header{
    z-index: 100;
}

/* hero */
#hero {
    background-color: #fff;
    padding-top: 5rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas:
        "name name img img"
        "body body img img"
        "btn icons img img";
}

#hero-img {
    justify-self: center;
    align-self: center;
    object-fit: cover;
    grid-area: img;
    border-radius: 10px;
}

#hero-name {
    border-bottom: 3px solid var(--clr-green);
}
#hero-h1 {
    grid-area: name;
    align-self: end;
}
#hero-h2 {
    font-size: var(--fs-400);
    font-weight: var(--fw-normal);
    color: var(--clr-dark);
    grid-area: body;
}
#social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    grid-area: icons
}

#linked-icon {
    margin-right: -2rem;
}

#contact-btn {
    color: var(--clr-dark);
    width: fit-content;
    height: fit-content;
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    text-decoration: none;
    border-bottom: 3px solid var(--clr-green);
    text-transform: uppercase;
    grid-area: btn;
    justify-self: center;
    align-self: center;
}
#contact-btn:hover{
    color: var(--clr-green);
    border-bottom: 3px solid var(--clr-dark);
}
.divider {
    border: 1px solid var(--clr-light-gray);
    margin-top: 2rem;
    width: 100%;
}
.section-header {
    padding-top: 2rem;
}

#tools {
    list-style: none;
    gap: 1rem;
    padding-left: 0px;
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#tools * h3 {
    color: var(--clr-green);
    font-size: var(--fs-600);
}
#tools * li {
    min-width: 300px;
}
#tools * span {
    font-weight: var(--fw-normal);
    font-size: var(--fs-500);
}

.tech-used {
    list-style: none;
    justify-content: space-evenly;
    padding-left: 0px;
    gap: 2rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    color: var(--clr-light-gray);
}

.project-link, .project-name {
    text-decoration: none;
    color: var(--clr-green);
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}
.project-link{
    img{
        justify-self: center;
    }
}

/* Contact Form */
form {
    min-width: 300px;
}

.input-group {
    display: grid;
    padding-bottom: 0.5rem;
    border-bottom: 1.5px solid var(--clr-green);
    margin-bottom: 1.5rem;
}

#last-input {
    margin-bottom: 3rem;
}

label {
    font-size: var(--fs-400);
    text-transform: uppercase;
}

input,
textarea {
    border: none;
    min-width: 80%;
    min-height: 2rem;
}

textarea {
    height: 7rem;
    resize: vertical;
}

.button-row {
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: right;
}

#submit-btn {
    width: auto;
    padding-bottom: 0.75rem;
    background: none;
    color: var(--clr-dark);
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    border: none;
    border-bottom: 3px solid var(--clr-green);
    text-transform: uppercase;
    cursor: pointer;
}
#submit-btn:hover{
    color: var(--clr-green);
    border-bottom: 3px solid var(--clr-dark);
}
#menu-btn {
    display: block;
}
#sidebar-btn {
    display: block;
}
@media(max-width: 576.98px) {
    .d-sm-none {
        display: none;
    }
    main {
        margin-top: -2rem;
    }
    #mobile-nav {
        width: 50%;
    }
    .hide-on-mobile {
        display: none;
    }
    #linked-icon {
        margin-right: 0;
    }
    #hero-img {
        height: 90vh;
        width: 100%;
        position: relative;
    }
    #hero {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #fff;
        padding-top: 5rem;

    }
    #hero-h1 {
        width: min-content;
        color: #fff;
        position: absolute;
        width: 100%;
        left: 1%;
        text-align: center;
        font-size: var(--fs-600);
    }

    #hero-h2 {
        color: #fff;
        font-weight: var(--fw-normal);
        font-size: var(--fs-600);
        text-shadow: 2px 2px 4px #000000;
        position: absolute;
        width: 22rem;
        text-align: center;
        padding-top: 18rem;
    }
    #contact-btn{
        align-self: center;
        justify-self: center;
    }
}
@media(min-width:576.99px) and (max-width: 768px) {
    main{
        margin-top: -2rem;
    }
    #hero-h1{
        align-self: end;
        justify-self: center;
        font-size: var(--fs-600);
    }
    .d-md-none {
        display: none;
    }
    .hide-on-mobile {
        display: none;
    }
    #divider{
        width: 90%;
    }
    #hero{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas:
        "name img"
        "body img"
        "btn img"
        "icons img";
    }
    #contact-btn{
        align-self: end;
    }
}
@media(min-width: 992px) {
    .d-lg-none {
        display: none;
    }
    .d-lg-flex{
        display: flex;
    }
    #hero {
        h2{
            padding-right: 4rem;
        }
    }
    #menu-btn {
        display: none;
    }
    #sidebar-btn {
        display: none;
    }
    .project-card{
        grid-template-columns: repeat(2, 1fr);

        img:hover{
            box-shadow: 0px 2px 5px 4px rgba(0,0,0,0.1);
        }
    }
    .project-link{
        display: grid;
        
        img{
            justify-self: center;
        }
        :hover{
            color: var(--clr-dark);
        }
    }
    #cmm-img{
        grid-area: cmm-img;
    }
    #cmm-text{
        grid-area: cmm-text;
    }
    #cmm-container{
        grid-template-areas:
        "cmm-text cmm-img";
    }
}